@import "tailwindcss";

:root {
  --background: #f3f4f6; /* Light gray background for the page */
  --foreground: #171717;
  --primary: #f97316; /* Orange-500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
